<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZ H81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
     <link rel="stylesheet" type="text/css" href="/forming-allies/css/main.css">
    <meta name="author" content="Megan Ross">
    <title>Forming Allies</title>
    <link rel="icon" href="/forming-allies/images/icon.ico">
    <style>
      .card-columns-masonry {
        column-count: 3;
        column-gap: 30px;
      }
      
      .card-columns-masonry .card {
        display: inline-block; /* prevents breaking across columns */
        width: 100%;          /* full width inside column */
        margin-bottom: 30px;  /* vertical gap between cards */
      }
    </style>
  </head>
  <body>
    <!--background video-->
    <video playsinline autoplay muted loop id="backgroundvideo">
      <source src="/forming-allies/videos/background.webm" type="video/webm">
    </video>
    <!--navbar-->
    <nav class="navbar navbar-dark navbar-expand-md bg-dark fixed-top">
      <a class="navbar-brand" href="index.html">Forming Allies</a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--navbar icon that links to main site page-->
      <a href="index.html" class="navbar-brand">
        <img class="pentaicon" src="/forming-allies/images/icon.ico">
      </a>
      <!--navbar collapses when device size gets small enough-->
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav">
          <!--navbar item-->
          <li class="nav-item">
            <a class="nav-link" href="index.html"> Home </a>
          </li>
          <!--navbar dropdown menu-->
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="myNavbarDropdown" data-toggle="dropdown"> GameHer Space </a>
            <div class="dropdown-menu">
              <!--dropdown item-->
              <a class="dropdown-item" href="/forming-allies/FemaleGamerSpace/Events/view/"> Events </a>
              <!--dropdown item-->
              <a class="dropdown-item" href="/forming-allies/FemaleGamerSpace/Groups/view/"> Groups </a>
            </div>
          </li>
          <!--navbar item-->
          <li class="nav-item">
            <a class="nav-link" href="/forming-allies/Statistics/view/"> Statistics </a>
          </li>
          <!--navbar item-->
          <li class="nav-item">
            <a class="nav-link" href="/forming-allies/Quiz/view/"> Quiz </a>
          </li>
          <!--navbar item-->
          <li class="nav-item">
            <a class="nav-link" href="/forming-allies/BecomeAnAlly/view/"> Become an Ally </a>
          </li>
          <!--navbar item-->
          <li class="nav-item">
            <a class="nav-link" href="/forming-allies/NotableWomen/view/"> Notable Women </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/~1905681/FormingAllies/Discussion/view/'>Discussion</a>
          </li>
          <!--navbar item-->
          <li class="nav-item">
            <a class="nav-link" href="/forming-allies/Testimonies/view/"> Testimonies </a>
          </li>
        </ul>
        <!--right hand navbar-->
        <ul class="nav navbar-nav ml-auto">
          <li>
            <a class='nav-link active' href='/forming-allies/Account/view/index.php'>
              <span class='glyphicon glyphicon-user'></span>Login/Sign Up </a>
          </li>
        </ul>
      </div>
    </nav>
<div id="items">
    <div class="container mt-20">
      <!-- Section Header -->
      <div class="card headr">
        <div class="card-body">
          <h3 class="card-title games centered">
            Online Forums/Groups for Female Gamers
          </h3>
        </div>
      </div>

      <!-- Masonry Columns Container -->
      <div class="card-columns-masonry mt-5">
        <!-- Card 1 -->
        <div class="card">
          <div class="card-header games h-100">
            <h4><strong>Girl Gamer Subreddit</strong></h4>
          </div>
          <img
            class="card-img-top"
            src="/forming-allies/images/girlgamerreddit.png"
            alt="girl gamer reddit logo"
          />
          <div class="card-body">
            <p class="card-text games">
              This is a community space for ladies to hang out, talk about gaming,
              and game together. We also discuss topics around women in geek
              culture and debrief about experiences that occur as a result of their
              gender. Folks of all genders and identities are welcome to join
              discussions here.
            </p>
  
          </div>
          <div class="card-footer">
                        <a href="https://www.reddit.com/r/GirlGamers/" class="btn btn-primary"
              >Subreddit</a
            >
          </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
          <div class="card-header games h-100">
            <h4><strong>Women in Games</strong></h4>
          </div>
          <img
            class="card-img-top"
            src="/forming-allies/images/womeningames.jpg"
            alt="women in games logo"
          />
          <div class="card-body">
            <p class="card-text games">
              We are activists... We believe in more people, more diversity and
              more perspectives.
            </p>
          <div class="card-footer">
                        <a href="https://www.womeningames.org/" class="btn btn-primary"
              >Website</a
            >
            <a href="https://discord.com/invite/4HpQuGRtRy" class="btn btn-primary"
              >Discord</a
            >
          </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="card">
          <div class="card-header games h-100">
            <h4><strong>Women in Games Esports</strong></h4>
          </div>
          <img
            class="card-img-top"
            src="/forming-allies/images/womeningames.jpg"
            alt="women in games logo"
          />
          <div class="card-body">
            <p class="card-text games">
              Esports is entertaining, exciting, and engaging... We intend to be
              part of the community evolving the future shape of this sector.
            </p>

          </div>
          <div class="card-footer">
                        <a href="https://www.womeningames.org/esports/" class="btn btn-primary"
              >Website</a
            >
            <a href="https://discord.gg/8fxf5kX8" class="btn btn-primary">Discord</a>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="card">
          <div class="card-header games h-100">
            <h4><strong>Women in Esports</strong></h4>
          </div>
          <img
            class="card-img-top"
            src="/forming-allies/images/womeninesports.png"
            alt="women in esports logo"
          />
          <div class="card-body">
            <p class="card-text games">
              The Women in Esports initiative aims to create a welcoming community
              which encourages more women (including trans and cis women) and femme
              identifying/femme presenting non-binary players to take part in
              esports tournaments at any level.
            </p>

          </div>
          <div class="card-footer">
                        <a
              href="https://britishesports.org/women-in-esports-campaign/"
              class="btn btn-primary"
              >Website</a
            >
            <a href="https://discord.com/invite/wQQEeKH" class="btn btn-primary"
              >Discord</a
            >
          </div>
        </div>

        <!-- Card 5 -->
        <div class="card">
          <div class="card-header games h-100">
            <h4><strong>the *gameHERS</strong></h4>
          </div>
          <img
            class="card-img-top"
            src="/forming-allies/images/thegamehers.png"
            alt="the gamerHERS logo"
          />
          <div class="card-body">
            <p class="card-text games">
              the*gameHERs is a women-led community dedicated to amplifying and
              centering the voices of women gamers and gamers of marginalized
              genders. This is a sexist-free space for the casual players, hardcore
              gamers, streamers, techies and more.
            </p>

          </div>
          <div class="card-footer">
                        <a href="https://thegamehers.com/" class="btn btn-primary">Website</a>
            <a href="https://discord.com/invite/thegamehers" class="btn btn-primary"
              >Discord</a
            >
          </div>
        </div>

        <!-- Card 6 -->
        <div class="card">
          <div class="card-header games h-100">
            <h4><strong>Girl Gamers</strong></h4>
          </div>
          <img
            class="card-img-top"
            src="/forming-allies/images/girlgamers.jpg"
            alt="girl gamers logo"
          />
          <div class="card-body">
            <p class="card-text games">
              Girl Gamers is the largest, safest, and most active community on Steam
              that supports female gamers. This group aims to eliminate the gap
              between genders and illuminate the fact that a gamer is a gamer,
              regardless of gender, sexuality, or life choices.
            </p>

          </div>
          <div class="card-footer">
                        <a
              href="https://steamcommunity.com/groups/GirlGamers"
              class="btn btn-primary"
              >Steam Group</a
            >
            <a href="https://discord.com/invite/CAjP4hy" class="btn btn-primary"
              >Discord</a
            >
          </div>
        </div>

        <!-- Card 7 -->
        <div class="card">
          <div class="card-header games h-100">
            <h4><strong>PMS Clan</strong></h4>
          </div>
          <img
            class="card-img-top"
            src="/forming-allies/images/PMSclan.png"
            alt="PMS clan logo"
          />
          <div class="card-body">
            <p class="card-text games">
              PMS Clan is a video game community committed to breaking down walls,
              stereotypes, and boundaries for female gamers by providing a
              pro-women environment, fostering competitive spirit, and building an
              inclusive support network.
            </p>

          </div>
          <div class="card-footer">
                        <a href="https://www.pmsclan.com/" class="btn btn-primary">Website</a>
            <a href="https://discord.com/invite/pmsclan" class="btn btn-primary"
              >Discord</a
            >
          </div>
        </div>

        <!-- Card 8 -->
        <div class="card">
          <div class="card-header games h-100">
            <h4><strong>Sugar Gamers</strong></h4>
          </div>
          <img
            class="card-img-top"
            src="/forming-allies/images/sugargamers.png"
            alt="sugar gamers logo"
          />
          <div class="card-body">
            <p class="card-text games">
              Sugar Gamers has evolved into a diverse group of trendsetters and
              aficionados within the worlds of technology, gaming, and the arts. It
              was founded in 2009 as a community for female geeks and gamers from
              all walks of life.
            </p>

          </div>
          <div class="card-footer">
                        <a href="https://sugargamers.com/" class="btn btn-primary">Website</a>
            <a href="https://discord.com/invite/ePdgk5Q" class="btn btn-primary"
              >Discord</a
            >
          </div>
        </div>

        <!-- Card 9 -->
        <div class="card">
          <div class="card-header games h-100">
            <h4><strong>Global Gaming Women</strong></h4>
          </div>
          <img
            class="card-img-top"
            src="/forming-allies/images/globalgamingwomen.jpg"
            alt="global gaming women logo"
          />
          <div class="card-body">
            <p class="card-text games">
              GGW brings together women from all segments of gaming in an effort to
              enrich their professional and personal lives, with a broad network
              that allows peers to connect and nurture emerging women leaders.
            </p>

          </div>
          <div class="card-footer">
                        <a href="https://www.globalgamingwomen.org/" class="btn btn-primary"
              >Website</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
      <!--footer info-->
    <footer class="page-footer text-white bg-dark fixed-bottom">
      <span class="footertext">Megan Ross ~ 1905681</span>
    </footer>
  </body>
</html>
